{
  "presets": [
    ["@babel/preset-env", { "targets": "defaults" }],
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-refresh/babel", { "skipEnvCheck": true }]
      ]
    },
    "production": {
      "plugins": []
    }
  }
}
